@model ASS.ViewModels.RegisterViewModel

<h2 class="text-center mb-4">Đăng ký tài khoản</h2>

<div class="row">
    <div class="col-md-4 offset-md-4">

        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">@ViewBag.Message</div>
        }

        <form method="post">

            <label>Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>

            <label class="mt-2">Mật khẩu</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <label class="mt-2">Nhập lại mật khẩu</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

            <label class="mt-2">Họ và tên</label>
            <input asp-for="FullName" class="form-control" />

            <button type="submit" class="btn btn-success w-100 mt-3">Đăng ký</button>
        </form>

    </div>
</div>
